body {
  margin: 0;
  background: #222;
  font-family: 'Arial', sans-serif;
  font-weight: 370;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: #F5F5F5;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  width: 15%;
  height: 15%;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 50px;
  font-size: 18px;

  position: relative;
}

nav a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: grey;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  background-color: #f700ee;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 200ms;
}

nav a:hover::before {
  width: 100%;
}
